<div class="center jumbotron">
	<h1>Chase Bank</h1>
	<h2>
	  This is the home page for the Chase Bank loaning website.
	</h2>
	<h2>
	  Total loans: <%= Loan.total_Loans %>
	</h2>
	<h2>
	  Total amount loaned: Lps.<%= Loan.total_Loaned %>	
	</h2>
</div>