<h1><%= @loan.customer_name %></h1>
<span>Loan given on: <%= @loan.created_at.strftime("%b %d, %Y") %></span>
<span>Total amount: <%= @loan.loan_amount %></span>
<span>Loan Type: <%= @loan.loan_type %></span>