<%= form_for(@loan) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :customer_name %>
  <%= f.text_field :customer_name, class: 'form-control' %>

  <%= f.label :loan_amount %>
  <%= f.number_field :loan_amount, class: 'form-control', step: :any %>

  <%= f.label :loan_type %>
  <%= f.select :loan_type, ['AUTO', 'VIVIENDA', 'PERSONAL'], class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>