<% provide(:title, 'Loans') %>
<h1>Loans</h1>
<p>This will be a page that will display all Loans.</p>

<%= will_paginate %>

<ul class="loans">
	<table>
	  	<tr>
		  <th>Loan ID</th>
		  <th>Customer Name</th>
		  <th>Loan Amount</th>
		  <th>Loan Type</th>
	  	</tr>
		<%= render @loans %>
	</table>
</ul>

<%= will_paginate %>

<div>
	<%= link_to "Create a new Loan!", '/loans/new', class: "btn btn-lg btn-primary pull-right" %>
</div>