<% provide(:title, @loan.customer_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="loan_info">
        <%= render 'shared/loan_info' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @loan.payments.any? %>
      <h3>Payments (<%= @loan.payments.count %>)</h3>
      <ol class="payments">
        <%= render @payments %>
      </ol>
      <%= will_paginate @payments %>
    <% else %>
      <h3>You have not made any payments for your loan!</h3>
    <% end %>
  </div>
  <%= link_to "Make a payment!", payment_path, class: "btn btn-lg btn-primary" %>
</div>