<%= form_for(@payment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.number_field :payment_amount %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>