<li id="payment-<%= payment.id %>">
  <span class="loan"><%= link_to payment.loan.customer_name, payment.loan %></span>
  <span class="content"><%= payment.payment_amount %></span>
  <span class="timestamp">
    Paid <%= payment.created_at.strftime("%b %d, %Y") %> ago.
  </span>
</li>