<% provide(:title, 'New Loan') %>
<% provide(:button_text, 'Submit new payment') %>
<h1>New Payment</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<%= render 'form' %>
  </div>
</div>